<%- include('../header') %>
<div class="container custom-container">
  <form method="POST" action="/ingredients/update/<%= ingredients.id %>">
    <input type="hidden" name="_method" value="PUT" />
    <div class="form-group">
      <label class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value="<%= ingredients.name %>"
      />
      <br />
      <label class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        name="price"
        value="<%= ingredients.price %>"
      />
      <br />
      <label class="form-label">Image</label>
      <input
        type="text"
        class="form-control"
        name="image"
        value="<%= ingredients.image %>"
      />
      <br />
      <button type="submit" id="update-form" class="btn btn-primary mt-3">
        Update
      </button>
    </div>
  </form>
</div>

<%- include('../footer') %>
